<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section class="main">
   <app-input [itemEdit]="itemEdit"></app-input>
   <div class="container">
      <div class="lista">
         <div class="header-lista">
            <h4 class="title-list">Lista de Compras</h4>
            <button class="btn-header" (click)="limparLista()">
               <small>Limpar lista</small>
            </button>
         </div>
         <div class="lista-itens" *ngIf="listaCompras?.length; else listaVazia">
            <div class="itens" *ngFor="let item of listaCompras">
               <app-item [item]="item" (emitItemEditar)="editar($event)" (emitItemIdExcluir)="excluir($event)"></app-item>
            </div>
         </div>
      </div>
      <ng-template #listaVazia>
         <p class="lista-vazia">Lista de compras não encontrada</p>
      </ng-template>
   </div>
</section>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>